@charset "UTF-8";

@color-darkest-blue: #03045e;
@color-middle-blue: #48cae4;
@decoration-border-gradient-string: @color-darkest-blue, #023e8a, #0077b6, #0096c7, #00b4d8, @color-middle-blue, #90e0ef, #00b4d8;
@decoration-border-gradient-degree: -135deg;
@image-border: @color-darkest-blue;
@image-border-width: 8px;
@image-border-radius: 50px;
@image-gradient-string: @decoration-border-gradient-string, #b8ebf5, #caf0f8;
@image-gradient-degree: -45deg;

@header-welcome-inner-gradient-string: #e9ecef, #dee2e6, #ced4da, #adb5bd, #6c757d;
@header-welcome-inner-gradient-degree: -45deg;
@header-font-color: hsla( 351deg, 71%, 45%, 100% );

@content-gradient-degree: 165deg;

@cancel-cb-br-height: 16px;
@cancel-cb-p-br-height: 27.2px;

/******************** Defaults / Unset ********************/

*, *:before, *:after
{
  box-sizing: border-box;
}

h1, h2, h3
{
  margin: 0px;
}

a {
  text-decoration: none;

  &:hover {
  }
}

ul
{
  line-height: unset;
  padding-block-start: 0px;
  padding-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  inset-block-start: 0px;
  inset-block-end: 0px;
  inset-inline-start: 0px;
  inset-inline-end: 0px;
}

ul.content
{
  padding-block-start: 20px;
  padding-block-end: unset;
  padding-inline-start: 20px;
  padding-inline-end: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  inset-block-start: unset;
  inset-block-end: unset;
  inset-inline-start: unset;
  inset-inline-end: unset;
  padding: 0px;
  margin: -(2*@cancel-cb-br-height) 0px -(3*@cancel-cb-br-height) 0px;
}

ul.content li
{
  margin: -@cancel-cb-br-height 0px 0px 20px;
}

p.content
{
  // margin: -@cancel-cb-p-br-height 0px;
}

.flex-wrapper
{
  margin-top: -@cancel-cb-br-height;
}


/******************** Default Layout ********************/

.cb-container // All containers
{

}

.cb-container-outer // All outer containers
{
}

.cb-container-inner // All inner containers
{
  margin-top: -16px; // Cancel space from <br> inserted by CB
  padding: 30px 15px 15px 15px;
}

.flex-wrapper.image
{
}

.flex-wrapper.content
{
}

/******************** Root Layout (Nested in CB About Me) ********************/

#root-container-outer
{
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(@decoration-border-gradient-degree, @decoration-border-gradient-string);
  border: @image-border-width solid @image-border;
  border-radius: @image-border-radius;
  margin: 80px 0px 0px -150px; // Adjust to align below About Me with space for Welcome header
  padding: 15px;
  min-width: 1125px;
}

#root-container-inner
{
  background: hsla(0, 0%, 75%, 75%);
  border: @image-border-width solid @image-border;
  border-radius: @image-border-radius;
}

/******************** Row Layout ********************/

.content-row
{
  display: flex;
  flex-direction: row;
  // margin-top: 20px;
}

.flex-wrapper.content-wrapper,
.flex-wrapper.image-wrapper
{
  padding: 10px;
}

.flex-wrapper.content-wrapper
{
  min-width: 40%;
}


.content-outer
{
  position: relative;
  background: linear-gradient(@content-gradient-degree, @decoration-border-gradient-string);
  padding: 0px 15px;
  border: @image-border-width solid @image-border;
  border-radius: 40px;
}

.content-inner
{
  border: 1px solid blue;
  border: @image-border-width solid @image-border;
  border-radius: 40px;
  background: hsla(0, 0%, 75%, 45%);
  margin-top: -@cancel-cb-br-height;
  padding: 15px 30px 15px 35px;
  font-size: 24px;
  line-height: 1.5em;
}

.section-header
{
  position: absolute;
  height: 70px;
  top: -(22px + @cancel-cb-br-height);
}

.photo
{
  padding: 0px 15px 15px 15px;
  background: linear-gradient(@image-gradient-degree, @image-gradient-string);
  border: @image-border-width solid @image-border;
  border-radius: @image-border-radius;
}

.photo img
{
  border: @image-border-width solid @image-border;
  border-radius: @image-border-radius;
  max-width: 400px;
}

/******************** Header Welcome Title ********************/

#header-welcome
{
  position: absolute;
  height: 125px;
  top: -(54px + @cancel-cb-br-height);
  left: 4em;
}

/******************** Bio Row ********************/

#bio-section-header
{
  // transform: translateZ(250px) perspective(600px) rotateY(-15deg) rotateX(5deg);
}

#blowing_smoke
{
  // transform: perspective(800px) rotateY(15deg) rotateX(10deg);
}

/******************** Goals Row ********************/

#my_goals
{
  // transform: translateZ(50px) perspective(800px) rotateY(-15deg) rotateX(-5deg);
}

#goals-section-header
{
  // transform: translateZ(250px) perspective(600px) rotateY(10deg) rotateX(5deg);
}

/******************** Likes Row ********************/

#likes-section-header
{
  // transform: translateZ(250px) perspective(600px) rotateY(10deg) rotateX(5deg);
}

#lying_with_cats
{
  // margin-top: 70px;
  // margin-left: 40px;
  // transform: perspective(700px) rotateY(15deg) rotateX(-15deg);
}

/******************** Sexuality Row ********************/

#sexuality-section-header
{
  // transform: translateZ(250px) perspective(600px) rotateY(10deg) rotateX(5deg);
}

#face_closeup_goofy
{
  // transform: perspective(800px) rotateY(-15deg) rotateX(-5deg);
}

/******************** Top-Tippers Row ********************/

#top_tippers-section-header
{
  // transform: scale(1.25) translateZ(50px) perspective(500px) rotateY(-15deg) rotateX(15deg);
}

#lifting_shirt_happy_trail
{
  // transform: perspective(600px) rotateY(15deg) rotateX(-10deg);
}
